<h1>Articles</h1>
<% @articles.each do |article| %>
  <%= link_to article_path(article) do %>
    <h2><%= article.name %></h2>
    <p>
      <%= l(article.created_at, format: :long) %>
    </p>
  <% end %>
<% end %>
